<!DOCTYPE html>
<html>
<%- include('../partials/header') %>

<body>
  <nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header fixed-brand">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
        <span class="glyphicon glyphicon-th-large" style="margin-left: 5px" aria-hidden="true"></span>
      </button>
      <a class="navbar-brand" href="#"></i>
        <%= userName %>
      </a>
    </div>
    <!-- navbar-header-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
          </button>
        </li>
        <li class="navbar-brand">
          <a href="/direct-logout" class="btn btn-danger">Logout <span
              class="fa fa-sign-out"></span></a>
        </li>
        <li class="navbar-brand">
          <a href="/direct-logout" class="btn btn-warning">Emergency Logout</a>
        </li>
        <!-- Notification Bell Icon -->
        <li class="navbar-brand">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-bell" aria-hidden="true"></i>
              <% if (pendingLeaves > 0) { %>
                <span class="badge badge-danger"><%= pendingLeaves %></span>
              <% } %>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
              <li class="dropdown-header">Notifications</li>
              <% if (pendingLeaves > 0) { %>
                <li><a href="/admin/leave-applications"><i class="fa fa-envelope"></i> <%= pendingLeaves %> pending leave applications</a></li>
              <% } else { %>
                <li><a href="#">No new notifications</a></li>
              <% } %>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <!-- bs-example-navbar-collapse-1 -->
  </nav>
  <div id="wrapper">
    <!-- Sidebar -->
  <%- include('../partials/adminSidebar') %>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid xyz">
        <div class="row">
          <div class="col-lg-12">
            <h2><i class="fa fa-dashboard"></i> Admin Dashboard</h2>
            <p class="text-muted">
              <%= moment().format('dddd') %><br>
              <%= moment().format('Do of MMMM YYYY hh:mm:ss A') %>
            </p>
            <hr>
          </div>
        </div>
        
        <!-- First Row - Stats Cards -->
        <div class="row">
          <!-- Total Employees Card -->
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-users fa-4x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <h1><%= employeeCount %></h1>
                    <div>Total Employees</div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><a href="/admin/view-all-employees"><i class="fa fa-arrow-circle-right"></i></a></span>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          
          <!-- Total Managers Card -->
          <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-user-tie fa-4x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <h1><%= managerCount %></h1>
                    <div>Total Managers</div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><a href="/admin/view-all-employees"><i class="fa fa-arrow-circle-right"></i></a></span>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          
          <!-- Today's Attendance Card -->
          <div class="col-md-4">
            <div class="panel panel-success">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-check-circle fa-4x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <h1><%= todayAttendanceCount %></h1>
                    <div>Today's Attendance</div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-circle-right"></i></a></span>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Second Row - Employment Type and Leave Stats -->
        <div class="row">
          <!-- Part-time Employees Card -->
          <div class="col-md-4">
            <div class="panel panel-warning">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">
                    <div class="text-center" style="font-size: 24px; font-weight: bold; margin-top: 20px;">
                      <%= partTimePercentage %>%
                    </div>
                  </div>
                  <div class="col-xs-9 text-right">
                    <h1><%= partTimeCount %></h1>
                    <div>Part-time Employees</div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><a href="/admin/view-all-employees"><i class="fa fa-arrow-circle-right"></i></a></span>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          
          <!-- Leave Applications Card -->
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3 class="text-center">Absences</h3>
                <div class="row text-center">
                  <div class="col-xs-6">
                    <div class="huge"><%= approvedLeaves %></div>
                    <div>Paid Leave</div>
                  </div>
                  <div class="col-xs-6">
                    <div class="huge"><%= pendingLeaves %></div>
                    <div>Unpaid leave</div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><a href="/admin/leave-applications"><i class="fa fa-arrow-circle-right"></i></a></span>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          
          <!-- Full-time Employees Card -->
          <div class="col-md-4">
            <div class="panel panel-success">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">
                    <div class="text-center" style="font-size: 24px; font-weight: bold; margin-top: 20px;">
                      <%= fullTimePercentage %>%
                    </div>
                  </div>
                  <div class="col-xs-9 text-right">
                    <h1><%= fullTimeCount %></h1>
                    <div>Full-time Employees</div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><a href="/admin/view-all-employees"><i class="fa fa-arrow-circle-right"></i></a></span>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Third Row - Quick Actions and Leave Applications -->
        <div class="row">
          <!-- Leave Applications Overview -->
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-calendar"></i> Leave Applications Overview</h3>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <a href="/admin/leave-applications" class="list-group-item">
                    <span class="badge"><%= pendingLeaves %></span>
                    <i class="fa fa-clock-o"></i> Pending Leave Applications
                  </a>
                  <a href="/admin/leave-applications" class="list-group-item">
                    <span class="badge"><%= totalLeaves %></span>
                    <i class="fa fa-calendar"></i> Total Leave Applications
                  </a>
                </div>
                <div class="text-right">
                  <a href="/admin/leave-applications">View All Applications <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Quick Actions -->
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-rocket"></i> Quick Actions</h3>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <a href="/admin/add-employee" class="list-group-item">
                    <i class="fa fa-user-plus"></i> Add New Employee
                  </a>
                  <a href="#" data-toggle="modal" data-target="#myModal2" class="list-group-item">
                    <i class="fa fa-check"></i> Mark Attendance
                  </a>
                  <a href="/admin/view-profile" class="list-group-item">
                    <i class="fa fa-user"></i> My Profile
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>

  <!-- Attendance Modal -->
  <div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <form method="post" action="/admin/mark-attendance">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">Mark Attendance</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to mark attendance?</p>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button type="submit" class="btn btn-primary">Yes</button>       <button type="reset" class="btn btn-default" data-dismiss="modal">
              Cancel
            </button>
           
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- View Attendance Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <form method="post" action="/admin/view-attendance">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">Select Month/Year</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="Month">Month:</label>
              <select class="form-control" id="month" name="month">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
            <div class="form-group">
              <label for="year">Year:</label>
              <select class="form-control" id="year" name="year"></select>
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="reset" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">View</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Page-Level Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js" charset="UTF-8"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>
  <script src="/javascripts/sidebar_menu.js"></script>
  <script>
    $(document).ready(function () {
      // Populate year dropdown for attendance view
      for (i = new Date().getFullYear(); i > 1950; i--) {
        $("#year").append($("<option />").val(i).html(i));
      }
    });
  </script>

  <!-- Script khẩn cấp cho logout -->
  <script>
    // Chờ 30 giây sau khi trang tải xong, nếu không thấy chuyển hướng thì hiển thị nút logout khẩn cấp
    setTimeout(function() {
      // Tạo nút khẩn cấp
      var emergencyButton = document.createElement('div');
      emergencyButton.innerHTML = `
        <div style="position: fixed; bottom: 20px; right: 20px; z-index: 9999; background: #ff0000; padding: 10px; border-radius: 5px;">
          <a href="/emergency-reset" style="color: white; text-decoration: none; font-weight: bold;">
            ⚠️ Đăng xuất khẩn cấp
          </a>
        </div>
      `;
      
      // Thêm vào body
      document.body.appendChild(emergencyButton);
      
      console.log("Emergency logout button activated");
    }, 30000); // 30 giây
  </script>
 <script>
  document.addEventListener('DOMContentLoaded', function () {
    const path = window.location.pathname;
    const menuLinks = document.querySelectorAll('#menu li a');
  
    menuLinks.forEach(link => {
      const li = link.parentElement;
      if (link.getAttribute('href') === path) {
        li.classList.add('active');
      } else {
        li.classList.remove('active');
      }
    });
  });
  </script>

</body>

</html> 