<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li class="<%= typeof path !== 'undefined' && path === '/manager' ? 'active' : '' %>">
            <a href="/manager"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x"></i></span> Dashboard</a>
        </li>
        <li class="<%= typeof path !== 'undefined' && path === '/manager/view-employees' ? 'active' : '' %>">
            <a href="/manager/view-employees"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x"></i></span> View Employees</a>
        </li>
        <li class="<%= typeof path !== 'undefined' && path === '/manager/apply-for-leave' ? 'active' : '' %>">
            <a href="/manager/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i class="fa fa-envelope-square fa-stack-1x"></i></span>Apply for Leave</a>
        </li>
        <li class="<%= typeof path !== 'undefined' && path === '/manager/mark-attendance' ? 'active' : '' %>">
            <a href="#" data-toggle="modal" data-target="#myModal2"><span class="fa-stack fa-lg pull-left"><i class="fa fa-check-circle fa-stack-1x"></i></span>Mark Attendance</a>
        </li>
        <li class="<%= typeof path !== 'undefined' && path === '/manager/view-attendance' ? 'active' : '' %>">
            <a href="#" data-toggle="modal" data-target="#myModal"><span class="fa-stack fa-lg pull-left"><i class="fa fa-list-ol fa-stack-1x"></i></span>View Attendance</a>
        </li>
        <li class="<%= typeof path !== 'undefined' && path === '/manager/view-profile' ? 'active' : '' %>">
            <a href="/manager/view-profile"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x"></i></span>View Profile</a>
        </li>
        <li class="<%= typeof path !== 'undefined' && path === '/manager/view-all-personal-projects' ? 'active' : '' %>">
            <a href="/manager/view-all-personal-projects"><span class="fa-stack fa-lg pull-left"><i class="fa fa-tasks fa-stack-1x"></i></span>Projects</a>
        </li>
    </ul>
</div><!-- /#sidebar-wrapper --> 