<!DOCTYPE html>
<html>
    <%- include('../partials/header') %>

    <body>
        <nav class="navbar navbar-default no-margin">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header fixed-brand">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                    <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <%= userName %>
                </a>
            </div><!-- navbar-header-->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                                class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                    </li>
                    <li class="navbar-brand">
                        <form action="/logout" method="get">
                            <button id="logout" type="submit" style="margin-top: -3px;" class="btn btn-default"><i
                                    class="fa fa-sign-out" aria-hidden="true"></i> Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div><!-- bs-example-navbar-collapse-1 -->
        </nav>
        <div id="wrapper">
            <!-- Include the sidebar partial with path parameter -->
            <% 
            // Define path if not defined
            var currentPath = typeof path !== 'undefined' ? path : '/manager/view-employees';
            %>
            <%- include('../partials/sidebar', {path: currentPath}) %>
<!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid xyz">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="menu1">
                                <h2 class="ThuongTitleEmployeeSkills"><i class="fa fa-angle-right"></i> Employee Skills </h2>
                                <style>
                                  .ThuongTitleEmployeeSkills {
                                      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                                      font-size: 1.6em;
                                      padding-bottom: 9px;
                                      margin: 10px 0 20px;
                                      border-bottom: 1px solid #eee;
                                      font-weight: bold;
                                      color: #333;
                                    }
                                    </style>
                                <form class="form-group-sm">
                                    <% if(employee.Skills.length> 0){ %>

                                        <h4>Skills:</h4>
                                        <div style="height: 250px; overflow: auto;">
                                            <ul class="list-group" id="skills">
                                                <% employee.Skills.forEach(function(val){ if(val !="" ){ %>
                                                    <li class="list-group-item">
                                                        <%= val %>
                                                    </li>

                                                    <% } }) %>

                                            </ul>
                                        </div>
                                        <% }else{ %>
                                            <h4>Skills : <label id="skills">N/A</label></h4>
                                            <% } %>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js" charset="UTF-8"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>


        <script src="/javascripts/sidebar_menu.js"></script>
        <script>

            $(document).ready(function () {
                for (i = new Date().getFullYear(); i > 1900; i--) {
                    $('#year').append($('<option />').val(i).html(i));
                }
            });
        </script>
    </body>

      
    <!-- Include modal templates -->
    <%- include('../partials/modals') %>
</html>