<!DOCTYPE html>
<html>
    <%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/project.css" />
    <body>
        <nav class="navbar navbar-default no-margin">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header fixed-brand">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                    <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <%= userName %>
                </a>
            </div><!-- navbar-header-->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                                class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                    </li>
                    <li class="navbar-brand">
                        <form action="/logout" method="get">
                            <button id="logout" type="submit" style="margin-top: -3px;" class="btn btn-default"><i
                                    class="fa fa-sign-out" aria-hidden="true"></i> Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div><!-- bs-example-navbar-collapse-1 -->
        </nav>
        <div id="wrapper">
            <!-- Include the sidebar partial with path parameter -->
            <% 
            // Define path if not defined
            var currentPath = typeof path !== 'undefined' ? path : '/manager/view-all-personal-projects';
            %>
            <%- include('../partials/sidebar', {path: currentPath}) %><!-- /#sidebar-wrapper --><!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid xyz">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="menu1">
                                <h1><i class="fas fa-chevron-right" style="margin-right: 10px;"></i>Project's Details</h1>
                                
                                <!-- Flash Messages -->
                                <% if (messages && messages.success && messages.success.length > 0) { %>
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong><i class="fa fa-check-circle"></i> Success!</strong> <%= messages.success %>
                                    </div>
                                <% } %>
                                
                                <% if (messages && messages.error && messages.error.length > 0) { %>
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong><i class="fa fa-exclamation-circle"></i> Error!</strong> <%= messages.error %>
                                    </div>
                                <% } %>
                                
                                <!-- Quick Actions Buttons -->
                                <div class="action-buttons" style="margin-bottom: 20px;">
                                    <a href="/manager/edit-project/<%= project._id %>" class="btn btn-primary" style="margin-right: 10px;">
                                        <i class="fa fa-edit"></i> Edit Project
                                    </a>
                                    <a href="/manager/view-all-personal-projects" class="btn btn-default">
                                        <i class="fa fa-arrow-left"></i> Back to Projects
                                    </a>
                                </div>
                                
                                <br>
                                <form class="form-group-sm">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><i class="fa fa-info-circle"></i> Basic Information</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                         <div class="col-md-6">
    <h4><strong>Title :</strong> <label id="title" class="text-primary"><%= project.title %></label></h4>
    <h4><strong>Type :</strong> <label id="type"><%= project.type %></label></h4>
    <h4><strong>Status :</strong> 
        <label id="status">
            <% if (project.status === 'Not Started' || project.status === 'Not started' || project.status === 'pending') { %>
                <span class="label label-warning">Not Started</span>
            <% } else if (project.status === 'In Progress' || project.status === 'On Going' || project.status === 'On going') { %>
                <span class="label label-success">In Progress</span>
            <% } else if (project.status === 'Out Date') { %>
                <span class="label label-danger">Out Date</span>
            <% } else if (project.status === 'Completed' || project.status === 'Finished') { %>
                <span class="label label-secondary">Completed</span>
            <% } else { %>
                <span class="label label-default"><%= project.status %></span>
            <% } %>
        </label>
    </h4>
</div>

<div class="col-md-6">
    <h4><strong>Start Date :</strong> <label id="start"><%= moment(project.startDate).format('MMMM Do YYYY'); %></label></h4>
    <h4><strong>End Date :</strong> <label id="end"><%= moment(project.endDate).format('MMMM Do YYYY'); %></label></h4>
    <h4><strong>Duration :</strong> <label><%= Math.ceil((new Date(project.endDate) - new Date(project.startDate)) / (1000 * 60 * 60 * 24)) %> days</label></h4>
</div>

                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><i class="fa fa-file-text-o"></i> Description</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div style="max-height: 200px; overflow: auto;">
                                                <p style="font-family: 'Arial'; font-size: 14px" id="description" style="word-wrap: break-word;">
                                                    <%= project.description; %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Team Members Section -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><i class="fa fa-users"></i> Team Members</h3>
                                        </div>
                                        <div class="panel-body">
                                            <% if (project.teamMembers && project.teamMembers.length > 0) { %>
                                                <p>This project has <%= project.teamMembers.length %> team member(s).</p>
                                                <a href="/manager/edit-project/<%= project._id %>" class="btn btn-sm btn-info">
                                                    <i class="fa fa-user-plus"></i> Manage Team Members
                                                </a>
                                            <% } else { %>
                                                <p>No team members assigned to this project yet.</p>
                                                <a href="/manager/edit-project/<%= project._id %>" class="btn btn-sm btn-success">
                                                    <i class="fa fa-user-plus"></i> Add Team Members
                                                </a>
                                            <% } %>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js" charset="UTF-8"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>


        <script src="/javascripts/sidebar_menu.js"></script>
        <script>

            $(document).ready(function () {
                for (i = new Date().getFullYear(); i > 1900; i--) {
                    $('#year').append($('<option />').val(i).html(i));
                }
                
                // Auto hide alerts after 5 seconds
                setTimeout(function() {
                    $('.alert-dismissible').fadeOut('slow');
                }, 5000);
            });
        </script>


    </body>

     
    <!-- Include modal templates -->
    <%- include('../partials/modals') %>
</html>