<!DOCTYPE html>
<html>
    <%- include('../partials/header') %>

    <body>
        <nav class="navbar navbar-default no-margin">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header fixed-brand">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                    <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <%= userName %>
                </a>
            </div><!-- navbar-header-->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                                class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                    </li>
                    <li class="navbar-brand">
                        <form action="/logout" method="get">
                            <button id="logout" type="submit" style="margin-top: -3px;" class="btn btn-default"><i
                                    class="fa fa-sign-out" aria-hidden="true"></i> Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div><!-- bs-example-navbar-collapse-1 -->
        </nav>
        <div id="wrapper">
            <!-- Include the sidebar partial with path parameter -->
            <% 
            // Define path if not defined
            var currentPath = typeof path !== 'undefined' ? path : '/manager/view-attendance';
            %>
            <%- include('../partials/sidebar', {path: currentPath}) %>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid xyz">
                    <div class="row">
                        <div class="col-lg-12">
                            <ol class="breadcrumb" style="margin-bottom: 10px; margin-top: 10px;">
                                <li><a href="/manager">Dashboard</a></li>
                                <li class="active">Attendance Records</li>
                            </ol>
                            <h3 style="margin-top: 0;"><i class="fa fa-calendar"></i> Attendance for <%= moment().month(Number(month)-1).format('MMMM') %> <%= new Date().getFullYear() %></h3>
                            
                            <!-- Attendance Summary Cards -->
                            <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                                <!-- Present Days Card -->
                                <div class="col-md-3">
                                    <div class="panel panel-primary" style="margin-bottom: 10px;">
                                        <div class="panel-heading">
                                            <i class="fa fa-calendar-check-o"></i> Present Days
                                        </div>
                                        <div class="panel-body text-center">
                                            <h2 style="margin: 5px 0;"><%= attendance ? attendance.length : 0 %></h2>
                                            <p style="margin-bottom: 5px;">Days marked as present</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Working Days Card -->
                                <div class="col-md-3">
                                    <div class="panel panel-info" style="margin-bottom: 10px;">
                                        <div class="panel-heading">
                                            <i class="fa fa-calendar"></i> Working Days
                                        </div>
                                        <div class="panel-body text-center">
                                            <h2 style="margin: 5px 0;"><%= moment().month(Number(month)-1).daysInMonth() - moment().month(Number(month)-1).startOf('month').day() - moment().month(Number(month)-1).endOf('month').day() || 20 %></h2>
                                            <p style="margin-bottom: 5px;">Total working days this month</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Attendance Rate Card -->
                                <div class="col-md-3">
                                    <div class="panel panel-success" style="margin-bottom: 10px;">
                                        <div class="panel-heading">
                                            <i class="fa fa-percent"></i> Attendance Rate
                                        </div>
                                        <div class="panel-body text-center">
                                            <% 
                                                var workingDays = moment().month(Number(month)-1).daysInMonth() - moment().month(Number(month)-1).startOf('month').day() - moment().month(Number(month)-1).endOf('month').day() || 20;
                                                var presentDays = attendance ? attendance.length : 0;
                                                var attendanceRate = workingDays > 0 ? Math.round((presentDays / workingDays) * 100) : 0;
                                            %>
                                            <h2 style="margin: 5px 0;"><%= attendanceRate %>%</h2>
                                            <p style="margin-bottom: 5px;"><%= presentDays %> of <%= workingDays %> days</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Average Check-in Card -->
                                <div class="col-md-3">
                                    <div class="panel panel-warning" style="margin-bottom: 10px;">
                                        <div class="panel-heading">
                                            <i class="fa fa-clock-o"></i> Average Check-in
                                        </div>
                                        <div class="panel-body text-center">
                                            <h2 style="margin: 5px 0;">
                                                <% 
                                                    if (attendance && attendance.length > 0) {
                                                        var totalHours = 0;
                                                        var totalMinutes = 0;
                                                        var count = 0;
                                                        
                                                        attendance.forEach(function(item) {
                                                            if (item.checkInTime) {
                                                                var timeParts = item.checkInTime.split(':');
                                                                if (timeParts.length >= 2) {
                                                                    totalHours += parseInt(timeParts[0]);
                                                                    totalMinutes += parseInt(timeParts[1]);
                                                                    count++;
                                                                }
                                                            }
                                                        });
                                                        
                                                        if (count > 0) {
                                                            var avgMinutes = Math.floor((totalHours * 60 + totalMinutes) / count);
                                                            var avgHours = Math.floor(avgMinutes / 60);
                                                            var remMinutes = avgMinutes % 60;
                                                            
                                                            var avgTime = avgHours.toString().padStart(2, '0') + ':' + remMinutes.toString().padStart(2, '0');
                                                            
                                                            %>
                                                            <%= avgTime %>
                                                            <%
                                                        } else {
                                                            %>
                                                            09:00
                                                            <%
                                                        }
                                                    } else {
                                                        %>
                                                        09:00
                                                        <%
                                                    }
                                                %>
                                            </h2>
                                            <p style="margin-bottom: 5px;">Average arrival time</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Controls -->
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-md-6">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                        <i class="fa fa-filter"></i> Change Month/Year
                                    </button>
                                    <button class="btn btn-success" data-toggle="modal" data-target="#myModal2">
                                        <i class="fa fa-check-circle"></i> Mark Today's Attendance
                                    </button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-default" id="printBtn" onclick="window.print();">
                                        <i class="fa fa-print"></i> Print Report
                                    </button>
                                        <div class="btn-group" style="margin-left: 5px;">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-download"></i> Export <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#" id="exportPDF"><i class="fa fa-file-pdf-o"></i> PDF</a></li>
                                            <li><a href="#" id="exportExcel"><i class="fa fa-file-excel-o"></i> Excel</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Attendance Table Panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 style="margin: 5px 0;"><i class="fa fa-list"></i> Daily Attendance Records</h4>
                                </div>
                                <div class="panel-body">
                                <% if (found===1){ %>
                                        <div class="table-responsive">
                                            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Status</th>
                                                        <th>Check-in Time</th>
                                                        <th>Check-out Time</th>
                                                        <th>Work Hours</th>
                                                        <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Date</th>
                                                        <th>Status</th>
                                                        <th>Check-in Time</th>
                                                        <th>Check-out Time</th>
                                                        <th>Work Hours</th>
                                                        <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% attendance.forEach(function(item){ %>
                                                <tr>
                                                    <td>
                                                                <% 
                                                                // Tạo ngày theo định dạng DD/MM/YYYY với kiểm tra tính hợp lệ
                                                                var dateStr = item.date + "/" + item.month + "/" + item.year;
                                                                var parsedDate = moment(dateStr, "DD/MM/YYYY");
                                                                if (parsedDate.isValid()) { 
                                                                %>
                                                                    <%= parsedDate.format('MMMM Do YYYY') %>
                                                                <% } else { 
                                                                    // Cách dự phòng nếu ngày không hợp lệ: chuỗi ISO
                                                                    var fallbackDate = new Date(item.year, item.month-1, item.date);
                                                                    var isoDate = moment(fallbackDate);
                                                                %>
                                                                    <%= isoDate.isValid() ? isoDate.format('MMMM Do YYYY') : 'Invalid date' %>
                                                                <% } %>
                                                            </td>
                                                            <td>
                                                                <% if (item.status && item.status === 'late') { %>
                                                                    <span class="label label-warning">Late</span>
                                                                <% } else { %>
                                                                    <span class="label label-success">Present</span>
                                                                <% } %>
                                                            </td>
                                                            <td>
                                                                <%= item.checkInTime || '09:00:00' %>
                                                            </td>
                                                            <td>
                                                                <%= item.checkOutTime || 'Not checked out' %>
                                                    </td>
                                                            <td>
                                                                <% 
                                                                    if (item.checkInTime && item.checkOutTime) {
                                                                        // Use the calculateWorkHours function passed from the controller
                                                                        var workHours = calculateWorkHours(item.checkInTime, item.checkOutTime);
                                                                        var hours = Math.floor(workHours);
                                                                        var minutes = Math.round((workHours - hours) * 60);
                                                                        %>
                                                                        <%= hours %> hrs <%= minutes %> mins
                                                                        <%
                                                                    } else {
                                                                        %>
                                                                        -
                                                                        <%
                                                                    }
                                                                %>
                                                            </td>
                                                            <td>
                                                                <% if (!item.checkOutTime) { %>
                                                                    <form method="post" action="/manager/check-out">
                                                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                                                        <button type="submit" class="btn btn-primary btn-sm">Check Out</button>
                                                                    </form>
                                                                <% } else { %>
                                                                    <button class="btn btn-info btn-sm" disabled>Completed</button>
                                                                <% } %>
                                                            </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                        </div>
                                    <% } else { %>
                                        <div class="alert alert-info">
                                            <i class="fa fa-info-circle"></i> No attendance records found for the selected month and year.
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- jQuery and Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.js" charset="UTF-8"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <!-- DataTables Buttons and export libraries -->
        <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
        <script src="/javascripts/sidebar_menu.js"></script>
        <script>
            $(document).ready(function() {
                // Initialize DataTable
                var table = $('#example').DataTable({
                    responsive: true,
                    "pageLength": 10,
                    "dom": '<"top"f>rt<"bottom"lip>B',
                    "buttons": []
                });
                
                // Export PDF functionality
                $('#exportPDF').on('click', function(e) {
                    e.preventDefault();
                    table.button('.buttons-pdf').trigger();
                });
                
                // Export Excel functionality
                $('#exportExcel').on('click', function(e) {
                    e.preventDefault();
                    table.button('.buttons-excel').trigger();
                });
                
                // Add export buttons to DataTable
                new $.fn.dataTable.Buttons(table, {
                    buttons: [
                        {
                            extend: 'pdfHtml5',
                            text: 'Export to PDF',
                            title: 'Attendance Report - <%= ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][month-1] %>',
                            className: 'buttons-pdf',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4] // Export all columns except Actions
                            }
                        },
                        {
                            extend: 'excelHtml5',
                            text: 'Export to Excel',
                            title: 'Attendance Report - <%= ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][month-1] %>',
                            className: 'buttons-excel',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4] // Export all columns except Actions
                            }
                        }
                    ]
                });
                
                // Year dropdown population
                for (i = new Date().getFullYear(); i > 1900; i--) {
                    $("#year").append($("<option />").val(i).html(i));
                }
            });
        </script>

        <!-- Print stylesheet -->
        <style type="text/css" media="print">
            @media print {
                .navbar, .breadcrumb, .btn, #menu-toggle, #menu-toggle-2, #sidebar-wrapper, input, select, .dataTables_filter, .dataTables_info, .dataTables_paginate {
                    display: none !important;
                }
                
                .panel-heading {
                    background-color: #f5f5f5 !important;
                    color: #333 !important;
                    -webkit-print-color-adjust: exact;
                    print-color-adjust: exact;
                }
                
                .table-bordered {
                    border: 1px solid #ddd !important;
                }
                
                .panel {
                    border: 1px solid #ddd !important;
                }
                
                body {
                    padding: 0;
                    margin: 0;
                }
                
                #page-content-wrapper {
                    margin-left: 0;
                    padding: 0;
                    width: 100% !important;
                }
                
                #wrapper {
                    padding-left: 0 !important;
                }
            }
        </style>
    </body>

    <%- include('../partials/modals') %>

</html>